header {
    width: 100%;
    background-color: #6734ff;
    position: static;
    top: 0;
}

#cabecalho{
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

nav{
    position: absolute;
    right: 0;
    top: 44px;
}

nav li {
    display: inline;
    padding-right: 20px;
    
    
}
nav li a {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0px #000, 
                 -1px  1px 0px #000,                    
                  1px -1px 0px #000,                  
                  1px  0px 0px #000;
}

body {
    background-color: #bbd9ec;
}

#tituloPag {
    font-size: 72px;
    text-align: center;
    margin: 172px auto 100px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    color: white;
    font-family: 'Lato', sans-serif;
}
#divtext{
    width: 70%
    margin: 20px auto;
    position: relative;
}

#paragrafo1 {
    font-size: 16px;
    width: 65%;
    display: inline-block;
    text-align: justify-all;
    margin-left: 50px;
}


#eva{
    max-width: 20%;
    max-height: 50%;
    right: 0;
    margin-right: 120px;
    display: inline-block;
    top: 258px;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}