header {
    width: 100%;
    background-color: #5000CA;
    position: fixed;
    top: 0;
}

#cabecalho{
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

nav{
    position: absolute;
    right: 0;
    top: 44px;
}

nav li {
    display: inline;
    padding-right: 20px;
    
    
}
nav li a {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0px #000, 
                 -1px  1px 0px #000,                    
                  1px -1px 0px #000,                  
                  1px  0px 0px #000;
    border: 1px groove gainsboro;
    border-radius: 4px;
    background: green;

}
nav li a:hover{
    background: greenyellow
}

body {
    background-color: #bbd9ec;
}

#tituloPag {
    font-size: 72px;
    text-align: center;
    margin: 172px auto 100px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.p1 {
    width: 940px;
    margin: 0 auto;
    padding: 10px 50px;
}

.p1 li {
    display: inline-block;
    text-align: center;
    width: 44%;
    vertical-align: top;
}

#eva {
    width: 50%;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

p {
    font-size: 18px;
    margin: 20px 0;

}