header {
    width: 100%;
    height: 100px;
    background-color: #6734ff;
    position: fixed;
    top: 0;
}

#cabecalho{
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

nav{
    position: absolute;
    right: 0;
    top: 44px;
}

nav li {
    display: inline;
    padding-right: 20px;
    
    
}
nav li a {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0px #000, 
                 -1px  1px 0px #000,                    
                  1px -1px 0px #000,                  
                  1px  0px 0px #000;
}

body {
    background-color: #bbd9ec;
}

#tituloPag {
    font-size: 72px;
    text-align: center;
    margin: 172px auto 100px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    color: white;
    font-family: 'Lato', sans-serif;
}


ul li{
    display: inline-block;
    
}

#paragrafo1{
    margin-left: 50px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    width: 33%;

}

#eva {
    width: 30%;
    height: 30%;
}